<a href="https://colab.research.google.com/github/sindhuparusha225/AIML-2303A52207/blob/main/Lab01_AIML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Part 1 Implement Basic Data Structures using Numpy, Pandas
 1. Lists
 2. Arrays
 3. Identify their type using type()
 4. Perform mathematical operations on these datasets created- multiplication, division,
 powero
 5. Combine text with Numpy fuction to generate a textual output- Addition of Two:
 array1 +array 2
 6. Implement np.sin(), log(), log2(), np.exp())

In [2]:
import numpy as np
list1=[1,2,3]
array1 = np.array(list1)
array1

array([1, 2, 3])

In [3]:
import numpy as np
list2=[4,5,6]
array2 =np.array(list2)
array2

array([4, 5, 6])

In [11]:
type(list1)

tuple

In [12]:
type(array1)

numpy.ndarray

In [6]:
print("sum of array1 and array2",array1+array2)

sum of array1 and array2 [5 7 9]

In [7]:
print("Multiplication of arrays",array1*array2)

Multiplication of arrays [ 4 10 18]

In [8]:
print("Division of array1  by array2",array1%array2)

Division of array1  by array2 [1 2 3]

In [9]:
print("array1 to th power array2",array1**array2)

array1 to th power array2 [  1  32 729]

np.sin(), log(), log2(), np.exp())arrays

In [14]:
print("Sine= ",np.sin(array1))
print("Natural logarithm= ",np.log(array1))
print("Base-10 logarithm= ",np.log10(array1))
print("Base-2 logarithm= ",np.log2(array1))
print("Exponential= ",np.exp(array1))

Sine=  [0.84147098 0.90929743 0.14112001]
Natural logarithm=  [0.         0.69314718 1.09861229]
Base-10 logarithm=  [0.         0.30103    0.47712125]
Base-2 logarithm=  [0.        1.        1.5849625]
Exponential=  [ 2.71828183  7.3890561  20.08553692]

In [15]:
print("Sine= ",np.sin(array2))
print("Natural logarithm =",np.log(array2))
print("Base-10 logarithm= ",np.log10(array2))
print("Base-2 logarithm= ",np.log2(array2))
print("Exponential= ",np.exp(array2))

Sine=  [-0.7568025  -0.95892427 -0.2794155 ]
Natural logarithm = [1.38629436 1.60943791 1.79175947]
Base-10 logarithm=  [0.60205999 0.69897    0.77815125]
Base-2 logarithm=  [2.         2.32192809 2.5849625 ]
Exponential=  [ 54.59815003 148.4131591  403.42879349]